
	<style>
		@page { size: auto; margin-top:0mm;margin-bottom:0mm; }	
	</style>
	<body>
	<!-- <body onload="window.print();" style="font-family:arial narrow;font-size:13px;font-weight:bold;margin:1%;"> -->
		<table style="width:100%">
			<tr>
				<td style="width:20%;text-align:center;;border-bottom:1px solid black;">
					<img id="img_bpt" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Coat_of_arms_of_West_Java.svg/640px-Coat_of_arms_of_West_Java.svg.png" style="width:65%;">
				</td>
				<td style="width:80%;text-align:center;padding-right:10%;border-bottom:1px solid black;">
					<font style="font-family:arial narrow;font-size:14px;font-weight:normal;">
						PEMERINTAH PROVINSI JAWA BARAT
						<br/>
						BADAN PENDAPATAN DAERAH
					</font>
					<br/>
					<font style="font-family:arial narrow;font-size:18px;font-weight:bold;">
						PUSAT PENGELOLAAN PENDAPATAN DAERAH
						<br/>
						WILAYAH KOTA CIANJUR
					</font>
					<br/>
					<font style="font-family:Tahoma;font-size:9px;font-weight:normal;">
						Jl. Dr. Muwardi Nomor 118 Bypass Cianjur 43216
						<br/>
						HP 082123333136 Website : www.bapenda.jabarprov.go.id  Email : cianjurpppd@gmail.com 
					</font>
				</td>
			</tr>
		</table>
		
		
			
			
			
		
	<body>