<html>
	<head>
		<style>
			@page { size: auto; margin-top:0mm;margin-bottom:0mm; }	
		</style>
	</head>
	<body onload="window.print();" style="font-family:arial narrow;font-size:13px;font-weight:bold;margin:-1px;">
		<!-- <textarea name="format_naskah" id="format_naskah" class="required form-control" style="" title="Isikan Artikel" placeholder="*Isikan Artikel"><?php echo $get_jenis_naskah->format_naskah;?></textarea> -->
		
		
		<?php
			/*
			echo 
				htmlspecialchars_decode(
				str_replace('[','$get_data_penduduk->',
				str_replace(']',';',$get_jenis_naskah->format_naskah)
				)
				);
			*/
				
			/*
			echo 
				str_replace('[','<?php echo $get_data_penduduk->',
				str_replace(']',';?>',htmlspecialchars_decode($get_jenis_naskah->format_naskah))
				);
			*/
			//printf(trim($get_jenis_naskah->format_naskah));
			//echo'<h1>Hello User, </h1> <p>Welcome to {$name}</p>';
			//echo'<p>Hi [nama] <br> Lokasi : {Lokasi Menikah}<img src="http://localhost/apem/assets/images/bintang.png" style="width: 166.172px; height: 110.712px;"></p>';
			
			/*
			echo'<br/>';
			echo'<br/>';
			echo $get_data_penduduk->nama;
			echo'<br/>';
			echo'<br/>';
			echo '[nama] : '.$get_data_penduduk->nama;
			echo'<br/>';
			echo'<br/>';
			echo 
				htmlentities(
				str_replace('[','$get_data_penduduk->',
				str_replace(']',';','[nama]')
				)
				);
			echo'<br/>';
			echo'<br/>';
			echo $get_data_penduduk->nama;
			*/
			
			
			$string = (
				str_replace('[','<?php echo $get_data_penduduk->',
				str_replace(']','; ?>','[nama]')
				)
				);
			
				
			echo 
				htmlspecialchars_decode
				(
				str_replace('[','<?php echo $get_data_penduduk->',
				str_replace(']',';?>',$get_jenis_naskah->format_naskah)
				)
				);
			
			
			
		?>
	</body>
</html>